html{
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
  }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
}


a{
  color:#337ab7;
  text-decoration:none
}

a:focus,
a:hover{
  color:#23527c;
  text-decoration:underline
}

a:focus{
  outline:thin dotted;
  outline:5px auto -webkit-focus-ring-color;
  outline-offset:-2px
}

figure{margin:0}
img{vertical-align:middle}

h1{
  margin: .67em 0;
  font-size: 2em
}

label{
  display:inline-block;
  max-width:100%;
  margin-bottom:5px;
  font-weight:700
}


table {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  text-align: center;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}

table thead th,
table tfoot th {
  font-weight: bold;
}
table thead th,
table thead td {
  padding: 0px 0px;
  border-bottom: 1px solid #111111;
  text-align: center;
  vertical-align: bottom;
}
table thead th:active,
table thead td:active {
  outline: none;
}


table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #dddddd;
  border-right: 1px solid #ffffff;
}
table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ffffff;
}
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}


.alignleft {
  text-align: left;

}

.rotateth {
  width: 3em;
  transform: rotate(-50deg);
  white-space: nowrap;
  overflow: visible;
}

.department {
  font-size: xx-small;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

#groupName {
  width: 4em;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: 100% 90%;
}

/*
thead.scrollHead, tbody.scrollBody{
  display:block;
}
tbody.scrollBody{
  overflow-y:scroll;
  height:1000px;
}

td, th{
  table-layout:fixed;
}
.pageNum{
  width:30px;
}
td.name{
  width:40px;
}
*/

button,
input,
optgroup,
select,
textarea{
  margin: 0;
  font: inherit;
  color: inherit
  }

button{
  overflow: visible
  }

button,
select{
  text-transform: none
  }

button,
html input[type = button],
input[type = reset],
input[type = submit]{
  -webkit-appearance: button;
  cursor: pointer
  }

button[disabled],
html input[disabled]{
  cursor: default
  }

button::-moz-focus-inner,

input::-moz-focus-inner{
  padding: 0;
  border: 0
  }

input{
  line-height: normal
  }

input[type = checkbox],
input[type = radio]{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
  }

input[type = number]::-webkit-inner-spin-button,
input[type = number]::-webkit-outer-spin-button{
  height: auto
  }

input[type = search]{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield
  }

input[type = search]::-webkit-search-cancel-button,
input[type = search]::-webkit-search-decoration{
  -webkit-appearance: none
  }


